page-login {
  .logoImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  ion-img {
    &, img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  .login-content {
    background: url("../../assets/imgs/bgportrait1.png");
    background-size: cover;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: rgba(250, 250, 250, 0.5);
      padding: 20px 20px 0px 20px;
      margin-top: 50%;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: blue;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
      opacity: 1;
    }

    .submit-btn[disabled] {
      background: blue;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
      opacity: 0.6;
    }

  }

}
