page-chat {
  height: 100%;

  ion-card {
    padding: 10px;
  }

  ion-scroll {
    height: 100%;
  }

  .backButton {
    background: none;
  }

  .inputBottom {
    padding: 10px;
    padding-right: 20px;
  }

  .wrapperDiv {
    //overflow: hidden;
    display: inline-block;
    padding-right: .5em;
    width: 90%;
  }

  .sendButton {
    background: none;
    float: right;
    margin-top: 12px;
    width: 10%;
  }

  .sendButtonIcon {
    font-size: 20px;
  }

  .inputChatMessage {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    width: 100%;
  }
}
