<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button icon-only class="backButton" (click)="backButton()">
         <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <div *ngFor="let m of session.chatlog" >
        <ion-card>{{m.username}}: {{m.message}}</ion-card>
      </div>
      <div *ngFor="let c of chatmessages">
        <ion-card>{{c.username}}: {{c.content}}</ion-card>
      </div>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="inputBottom">
    <div class="wrapperDiv">
      <ion-input [(ngModel)]="message" (input)="userTyped()" placeholder="bericht" class="inputChatMessage"></ion-input>
    </div>
    <button icon-only (click)="send()" class="sendButton" [disabled]="!canSend">
      <ion-icon name="send" class="sendButtonIcon"></ion-icon>
    </button>
  </div>
</ion-footer>
