<ion-tabs>
  <ion-tab [root]="gameRoot" tabTitle="Game" tabIcon="game-controller-b"></ion-tab>
  <ion-tab [root]="playersRoot" tabTitle="Players" tabIcon="people"></ion-tab>
  <ion-tab [root]="chatRoot" tabTitle="Chat" tabIcon="chatbubbles"></ion-tab>
</ion-tabs>
