session-card {
  .topRightCornerIcon {
    background: none;
    float: right;
    padding: 0;
    font-size: 24px;
    margin-right: 3px;
  }

  .themeTitle {
    text-align: center;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
  }

  .sessionSubject {
    margin: 8px;
    padding: 0;
  }

  .startedOrReview {
    margin: 8px;
    padding: 0;
    float: right;
  }

  .ballImg {
    height: 12px;
    width: 12px;
    display: inline;
  }
}

