<div (click)="navigate()">

  <ion-icon *ngIf="isOrganisator" class="topRightCornerIcon" name="star" icon-only></ion-icon>

  <ion-card-content *ngIf="theme != undefinedType && theme.title != ''" class="themeTitle">
    {{theme.title}}
  </ion-card-content>
  <ng-container *ngIf="theme != undefinedType">
  <ion-card-content *ngIf="theme.title == undefinedType || theme.title === ''" class="themeTitle">
    "No title"
  </ion-card-content>
  </ng-container>

  <ion-card-content class="sessionSubject">
    {{session.subject}}
  </ion-card-content>
  <ion-card-content *ngIf="session.subject == undefinedType || session.subject === ''" class="sessionSubject">
    "No session subject"
  </ion-card-content>

  <ion-card-content *ngIf="session.started" class="startedOrReview">
    <img src="../../assets/imgs/greenball.png" class="ballImg">
    gestart
  </ion-card-content>
  <ion-card-content *ngIf="!session.started" class="startedOrReview">
    <img src="../../assets/imgs/redball.png" class="ballImg">
    in opmaak
  </ion-card-content>

</div>
