page-home {
  .eyeIcon {
    background: none;
  }

  .eyeIconButton {
    margin-right: 20px;
  }

  .backgroundContent {
    background: url("../../assets/imgs/bgportrait1.png");
    background-size: cover;
  }

  .backgroundBar {
    background-color: rgba(220, 220, 220, 0.7);
    margin: 0;
    padding: 0;
  }

  ion-item {
    padding: 0;
  }

  .input-wrapper {
    padding: 0;
  }
  ion-label {
    margin: 0;
  }
  .label-md {
    margin: 0;
  }
  .item-md.item-block .item-inner {
    padding: 0;
  }

}
