<ion-header>
  <ion-navbar>
    <ion-title>
      Kandoegeridoo
    </ion-title>
    <ion-buttons end>
      <button *ngIf="isHidden" ion-button icon-only item-right (click)="hideShow()" class="eyeIconButton">
        <ion-icon class="eyeIcon" name="eye" icon-only item-right></ion-icon>
      </button>
      <button *ngIf="!isHidden" ion-button icon-only item-right (click)="hideShow()" class="eyeIconButton">
        <ion-icon class="eyeIcon" name="eye-off" icon-only item-right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="backgroundContent" padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item no-lines color="light" *ngIf="user != undefinedType">
    <ion-avatar item-start>
      <img src="../../assets/imgs/kandoelogo.png">
    </ion-avatar>
    <div>Welkom {{user.username}} !</div>
    <button ion-button item-right (click)="logOut()">Log uit</button>
  </ion-item>

  <ion-item class="backgroundBar">

    <ion-card class="centerContent" *ngFor="let s of sessions">
    <session-card [session]="s" [user]="user"></session-card>
  </ion-card>

  <div *ngIf="isHidden">
    <ion-card class="centerContent" *ngFor="let s of sessionsInReviewOrganisator">
      <session-card [session]="s" [user]="user"></session-card>
    </ion-card>
  </div>

  <div *ngIf="isHidden">
    <ion-card class="centerContent" *ngFor="let s of sessionsInReviewParticipant">
      <session-card [session]="s" [user]="user"></session-card>
    </ion-card>
  </div>

  </ion-item>

</ion-content>
