<ion-card [style.background-color]="getColor()" *ngIf="card != undefinedType && cardstate != undefinedType">
  <div class="positionOfCard">{{cardstate.position}}</div>
  <ion-icon class="iconForPosition" name="trophy" icon-only></ion-icon>
  <ion-card-content class="cardName">{{card.name}}</ion-card-content>
  <ion-card-content class="cardDescription">{{card.description}}</ion-card-content>
  <button (click)="moveCard()" class="voteButton">Stem</button>
</ion-card>
