ingamecard {
  .positionOfCard {
    display: inline;
    float: right;
    margin: 8px;
    font-weight: bold;
  }

  .iconForPosition {
    background: none;
    display: inline;
    float: right;
    margin-top: 8px;
  }

  .cardName {
    text-align: center;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
  }

  .cardDescription {
    margin-left: 16px;
    padding: 0;
  }

  .voteButton {
    float: right;
    padding: 6px;
    margin-bottom: 3px;
    margin-right: 3px;
    color: white;
    background-color: #488aff;
  }
}
