<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button icon-only class="backButton" (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Spelers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="backgroundTransImg" padding>

  <div class="menuTitle">Spelers</div>
  <ng-container *ngIf="users != undefinedType && users.length == session.userIds.length">
    <ion-card *ngFor="let u of users; let i = index" class="usernameCard" [class.player]="users[i].userid == userId">
      {{u.username}}
    </ion-card>
  </ng-container>

</ion-content>
