page-players {
  .menuTitle {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
  }
  .backButton {
    background: none;
  }
  .usernameCard {
    background-color: whitesmoke;
    padding: 10px;
  }
  .player {
    background-color: #488aff;
    font-size: 16px;
  }
  .backgroundTransImg {
    background: url("../../assets/imgs/bgportrait150.png");
    background-size: cover;
  }

}
