<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button icon-only class="backButton" (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Spel</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="backgroundTransImg">

  <ng-container *ngIf="session !== undefinedType && session.sessionStates !== undefinedType">
    <div>
      <div *ngIf="session.currentPlayer === userId" class="turnMessage">
        Het is jouw beurt<br> om te stemmen
      </div>
      <div *ngIf="session.currentPlayer !== userId" class="turnMessage">
        Wacht op jouw beurt,<br> {{currentPlayerName}} is aan beurt
      </div>
      <button *ngIf="isOrganisator" ion-button class="endButton" (click)="endGame()">Beëindig
        Spel
      </button>
    </div>

    <div *ngFor="let c of session.sessionStates[session.sessionStates.length-1].cardStates; let i = index">
      <ingamecard (cardMoved)="cardMoved()" [index]="i" [cardstate]="c" [sessionid]="session.id"></ingamecard>
    </div>
  </ng-container>

  <ion-card *ngIf="gameIsOver">
    <ion-content>
      Het spel is gedaan, deze kaart heeft de meeste stemmen gekregen!
      {{session.sessionStates[session.sessionStates.length-1].cardStates[
      session.sessionStates[session.sessionStates.length-1].cardStates.length-1 ] }}
    </ion-content>
  </ion-card>

</ion-content>
