page-game {
  .turnMessage {
    text-align: center;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    display: inline;
  }
  .backButton {
    background: none;
  }
  .endButton {
    float: right;
    margin-right: 10px;
  }
  .backgroundTransImg {
    background: url("../../assets/imgs/bgportrait150.png");
    background-size: cover;
  }

}
